n8n/forex-weekly-review-workflow.json
{
  "name": "FinTrack - Weekly Forex Review (Advisory)",
  "nodes": [
    { "parameters": { "rule": { "interval": [{ "field": "weeks", "triggerAtDay": ["MONDAY"], "triggerAtHour": 8 }] } }, "id": "f2a16d64-6f4a-4565-a1cb-fa4f5d791bca", "name": "Every Monday", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [300, 300] },
    { "parameters": { "method": "GET", "url": "={{ $env.SUPABASE_URL }}/rest/v1/forex_trades?user_id=eq.{{ $env.SUPABASE_USER_ID }}&status=eq.closed&opened_at=gte.{{ $now.minus({days: 7}).toISO() }}&select=*", "sendHeaders": true, "headers": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }] }, "options": {} }, "id": "424a7b4d-7e91-4bfc-a95e-c136c511e3f0", "name": "Read Last Week Trades", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [510, 300] },
    { "parameters": { "method": "POST", "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent", "sendQueryParameters": true, "queryParameters": { "parameters": [{ "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"Kamu adalah coach jurnal trading, bukan penasihat investasi. Analisis trade tertutup minggu ini. Balas JSON valid {summary:string,strengths:string[],improvements:string[]}; maksimal tiga poin tiap array, fokus pada disiplin risiko dan psikologi. Trade: {{ JSON.stringify($json) }}\"}]}],\"generationConfig\":{\"responseMimeType\":\"application/json\"}}", "options": {} }, "id": "bba48ca1-19a6-4f62-a278-4d9948539c5a", "name": "Gemini Weekly Advisory", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [720, 300] },
    { "parameters": { "jsCode": "const review = JSON.parse($json.candidates[0].content.parts[0].text);\nconst end = new Date(); const start = new Date(end); start.setDate(end.getDate() - 7);\nreturn [{json:{user_id:$env.SUPABASE_USER_ID,scope:'weekly',period_start:start.toISOString().slice(0,10),period_end:end.toISOString().slice(0,10),summary:review.summary,strengths:review.strengths||[],improvements:review.improvements||[]}}];" }, "id": "4e605490-68f1-4a5c-afef-e677c0a1a2fb", "name": "Prepare Weekly Review", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [930, 300] },
    { "parameters": { "method": "POST", "url": "={{ $env.SUPABASE_URL }}/rest/v1/ai_trade_reviews", "sendHeaders": true, "headers": { "parameters": [{ "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }, { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }, { "name": "Content-Type", "value": "application/json" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}", "options": {} }, "id": "be0404fb-32d2-44fd-bfac-a586e68b21de", "name": "Store Weekly Advisory", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.1, "position": [1140, 300] }
  ],
  "connections": { "Every Monday": { "main": [[{ "node": "Read Last Week Trades", "type": "main", "index": 0 }]] }, "Read Last Week Trades": { "main": [[{ "node": "Gemini Weekly Advisory", "type": "main", "index": 0 }]] }, "Gemini Weekly Advisory": { "main": [[{ "node": "Prepare Weekly Review", "type": "main", "index": 0 }]] }, "Prepare Weekly Review": { "main": [[{ "node": "Store Weekly Advisory", "type": "main", "index": 0 }]] } },
  "active": false, "settings": { "executionOrder": "v1" }, "versionId": "fintrack-weekly-review-v1"
}
